/**
 * Steps Component Style for uxcore
 * @author vincent.bian
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__stepsPrefixCls: kuma-step;
@__stepsItemWidth: 100px;
@__stepsNormalIconSize: 24px;
@__stepsIconTailSpacing: 4px;
@__stepsFontSize: 12px;
@__stepsMinIconSize: 10px;
@__stepsArrowBarHeight: 24px;

.@{__stepsPrefixCls} {
  // 基础样式
  .@{__stepsPrefixCls}-item {
    position: relative;
    display: inline-block;
    min-height: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
    vertical-align: top;

    &.@{__stepsPrefixCls}-editable {
      .@{__stepsPrefixCls}-icon {
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .@{__stepsPrefixCls}-tail {
      position: absolute;
      top: 11px;
      padding: 0 @__stepsIconTailSpacing 0 @__stepsNormalIconSize + @__stepsIconTailSpacing;
      width: 100%;
      margin-left: (@__stepsItemWidth - @__stepsNormalIconSize) / 2;

      >i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: @normal-alpha-7;
      }
    }

    .@{__stepsPrefixCls}-head {
      margin-left: (@__stepsItemWidth - @__stepsNormalIconSize) / 2;

      .@{__stepsPrefixCls}-icon {
        display: inline-block;
        width: @__stepsNormalIconSize;
        height: @__stepsNormalIconSize;
        border-radius: @__stepsNormalIconSize / 2;
        border: 2px solid @brand-success;
        text-align: center;
        line-height: @__stepsNormalIconSize - 4;
        font-size: @__stepsFontSize;
        vertical-align: middle;
      }

      .@{__stepsPrefixCls}-uxicon {
        border-width: 1px;
        line-height: @__stepsNormalIconSize - 2;
      }
    }

    .@{__stepsPrefixCls}-main {
      color: @text-secondary-color;
      
      .@{__stepsPrefixCls}-title {
        white-space: nowrap;
        color: @dark-alpha-2;
      }
      .@{__stepsPrefixCls}-description {
        color: @dark-alpha-3;
      }

      .@{__stepsPrefixCls}-detail-arrow {
        position: absolute;
        top: 40px;
        font-family: kuma;
        font-size: 34px;
        left: 34px;
        &::before {
          content: "\e613";
          color: #e0e4e8;
        }
        &::after {
          content: "\e613";
          color: #f6f7f8;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }

      // 兼容旧版本描述的 Popup 样式
      .popup-desc {
        .@{__stepsPrefixCls}-description {
          position: absolute;
          left: 20px;
          bottom: 65px;
        }

        .@{__stepsPrefixCls}-description-arrow {
          position: absolute;
          bottom: 57px;
          left: 43px;
        }
      }
    }

    // 包含详情的
    .@{__stepsPrefixCls}-detail {
      &.@{__stepsPrefixCls}-detail-current {
        >.@{__stepsPrefixCls}-detail-con {
          display: block;
        }
      }

      >.@{__stepsPrefixCls}-detail-con {
        display: none;
        margin-top: 17px;
        width: 800px;
        background-color: @normal-alpha-9;
        padding: 10px;
        border: 1px solid @normal-alpha-7;
        border-radius: 3px;
      }
    }
  }

  // 默认类型样式
  &.@{__stepsPrefixCls}-type-default {
    .@{__stepsPrefixCls}-item {
      &.@{__stepsPrefixCls}-no-desc {
        margin-top: 0;
      }
    }
    .@{__stepsPrefixCls}-main {
      .@{__stepsPrefixCls}-title {
        width: @__stepsItemWidth;
        position: relative;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .@{__stepsPrefixCls}-description {
        position: absolute;
        left: 20px;
        bottom: 68px;
        width: @__stepsItemWidth;
        padding: 5px 15px;
        width: 146px;
        height: 60px;
        background-color: white;
        box-shadow: @box-shadow-1;
        line-height: 2;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        border: 1px solid @normal-alpha-6;
        border-radius: @global-border-radius;
      }
      .@{__stepsPrefixCls}-description-arrow {
        position: absolute;
        bottom: 53px;
        left: 5px;
        border-color: transparent;
        border-style: solid;
        border-width: 7px;
        border-bottom-width: 0;
        border-top-color: rgba(31, 56, 88, 0.05);
        content: ' ';
        line-height: 0;
        display: block;
        &:before,
        &:after {
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          border-bottom-width: 0;
          border-top-color: white;
          content: ' ';
          line-height: 0;
          display: block;
          position: absolute;
          bottom: 4px;
          left: -5px;
        }
        &:before {
          bottom: 3px;
          border-top-color: @normal-alpha-6;
        }
      }
    }
  }

  // title 在顶部的样式
  &.@{__stepsPrefixCls}-type-title-on-top {
    .@{__stepsPrefixCls}-main {
      .@{__stepsPrefixCls}-title {
        width: @__stepsItemWidth;
        position: relative;
        top: -50px;
        text-align: center;
        margin-top: 0 !important;
      }
      .@{__stepsPrefixCls}-description {
        width: @__stepsItemWidth;
        text-align: center;
      }
    }

    &.@{__stepsPrefixCls}-noicon {
      top: -40px;
    }
  }

  // 包含大量描述的样式
  &.@{__stepsPrefixCls}-type-long-desc {
    .@{__stepsPrefixCls}-item {
      margin-top: 8px;
    }
    .@{__stepsPrefixCls}-main {
      padding: 10px @__stepsNormalIconSize 0;
    }
    .@{__stepsPrefixCls}-title {
      width: @__stepsItemWidth;
      position: relative;
      padding: 0 8px;
      display: inline-block;
      background-color: #fff;
    }
    .@{__stepsPrefixCls}-description {
      padding: 8px;
      min-width: 180px;
    }
  }

  // 新版步骤名和描述都在下方的样式
  &.@{__stepsPrefixCls}-type-bottom-desc {
    .@{__stepsPrefixCls}-item {
      margin-top: 0;
    }
    .@{__stepsPrefixCls}-main {
      .@{__stepsPrefixCls}-title {
        width: @__stepsItemWidth;
        position: relative;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .@{__stepsPrefixCls}-description {
        display: inline-block;
        margin-top: 5px;
        width: @__stepsItemWidth;
        text-align: center;
      }
    }
  }

  // 新版新增的 arrow bar 样式
  &.@{__stepsPrefixCls}-type-arrow-bar {
    display: flex;
    margin-left: 0 !important;

    .@{__stepsPrefixCls}-item-arrowbar {
      overflow: hidden;
      flex: 1;
      height: @__stepsArrowBarHeight;
      margin-left: -12px;
      position: relative;

      .@{__stepsPrefixCls}-title {
        height: @__stepsArrowBarHeight;
        line-height: @__stepsArrowBarHeight;
        background-color: @brand-primary;
        padding-left: 12px;
        margin-right: 14px;
        text-align: center;
        color: #fff;
        font-weight: normal;

        .step-info{
          font-size: 14px;
          margin-left: 2px;
          vertical-align: -1px;
        }
      }

      .@{__stepsPrefixCls}-arrow-right{
        position: absolute;
        top: 0;
        right: 2px;
        z-index: 10;
        width: 0;
        height: 0;
        border-top: @__stepsArrowBarHeight / 2 solid transparent;
        border-bottom: @__stepsArrowBarHeight / 2 solid transparent;
        border-left: @__stepsArrowBarHeight / 2 solid @brand-primary;
      }

      .@{__stepsPrefixCls}-arrow-right-bg{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        width: 0;
        height: 0;
        border-top: @__stepsArrowBarHeight / 2 solid transparent;
        border-bottom: @__stepsArrowBarHeight / 2 solid transparent;
        border-left: @__stepsArrowBarHeight / 2 solid #fff;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-left: 0;

        .@{__stepsPrefixCls}-title {
          padding-left: 0;
        }
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        .@{__stepsPrefixCls}-title {
          margin-right: 0;
        }
      }

      &.@{__stepsPrefixCls}-status-wait {
        .@{__stepsPrefixCls}-title {
          color: @normal-alpha-4;
          background-color: @normal-alpha-8;
        }

        .@{__stepsPrefixCls}-arrow-right{
          border-left: @__stepsArrowBarHeight / 2 solid @normal-alpha-8;
        }
      }

      &.@{__stepsPrefixCls}-status-error {
        .@{__stepsPrefixCls}-title {
          color: @brand-danger;
          background-color: @brand-danger-alpha-7;
        }

        .@{__stepsPrefixCls}-arrow-right {
          border-left: @__stepsArrowBarHeight / 2 solid @brand-danger-alpha-7;
        }
      }
    }

    .@{__stepsPrefixCls}-editable {
      &:hover {
        cursor: pointer;

        .@{__stepsPrefixCls}-title {
          background-color: @brand-primary-hover;
        }

        .@{__stepsPrefixCls}-arrow-right{
          border-left: @__stepsArrowBarHeight / 2 solid @brand-primary-hover;
        }
      }
    }
  }

  // 不同状态
  // wait, process=current, finish, error
  .@{__stepsPrefixCls}-status-wait {
    .@{__stepsPrefixCls}-icon {
      background-color: @normal-alpha-9;
      border-color: @normal-alpha-6 !important;
      color: @normal-alpha-6;
    }
    .@{__stepsPrefixCls}-title {
      color: @normal-alpha-5 !important;
    }
    .@{__stepsPrefixCls}-description {
      color: @normal-alpha-5 !important;
    }
  }
  .@{__stepsPrefixCls}-status-process {
    .@{__stepsPrefixCls}-icon {
      background-color: @brand-success;
      color: #fff !important;
    }
    .@{__stepsPrefixCls}-title {
      color: @dark-alpha-2;
      font-weight: 700;
    }
  }
  .@{__stepsPrefixCls}-status-finish {
    .@{__stepsPrefixCls}-tail {
      i {
        background-color: @brand-success !important;
      }
    }

    .@{__stepsPrefixCls}-icon {
      background-color: #fff;
      color: @brand-success !important;

      &.icon-check {
        &:after {
          font-family: 'kuma'!important;
          content: '\e611';
        }
      }
    }
  }
  .@{__stepsPrefixCls}-status-error {
    .@{__stepsPrefixCls}-title {
      color: @brand-danger !important;
      font-weight: 700;
    }
    .@{__stepsPrefixCls}-icon {
      color: @brand-danger !important;
      border-color: @brand-danger !important;
    }
  }

  // 纵向
  &.@{__stepsPrefixCls}-vertical {
    .@{__stepsPrefixCls}-head {
      position: absolute;
      top: 0;
      padding-right: 0;
      padding-bottom: @__stepsIconTailSpacing;
      background-color: #fff;
      margin-left: 0;
    }
    .@{__stepsPrefixCls}-item {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      min-height: 110px;
    }
    .@{__stepsPrefixCls}-tail {
      position: absolute;
      left: @__stepsNormalIconSize / 2 - 1;
      top: 0;
      padding: @__stepsNormalIconSize 0 @__stepsIconTailSpacing 0;
      width: 0;
      height: 100%;
      margin-left: 0;
      i {
        width: 2px;
        height: 100%;
        background-color: @basic-700;
      }
    }
    .@{__stepsPrefixCls}-main {
      padding: 4px 0 0 30px;
      .@{__stepsPrefixCls}-title {
        margin-left: 0;
      }
      .@{__stepsPrefixCls}-description {
        margin-top: 4px;
        text-indent: 0;
      }
    }
  }

  // 微小风格
  .@{__stepsPrefixCls}-small {
    margin-left: 20px;
    .@{__stepsPrefixCls}-head {
      .@{__stepsPrefixCls}-icon {
        font-size: @__stepsFontSize;
      }
    }
    .@{__stepsPrefixCls}-tail {
      top: @__stepsMinIconSize / 2 + 7;
    }
    &.@{__stepsPrefixCls}-vertical {
      .@{__stepsPrefixCls}-tail {
        left: @__stepsMinIconSize / 2 - 1;
        top: 0;
      }
    }
    .@{__stepsPrefixCls}-head {
      .@{__stepsPrefixCls}-icon {
        width: @__stepsMinIconSize;
        height: @__stepsMinIconSize;
        border-radius: @__stepsMinIconSize / 2;
        line-height: @__stepsMinIconSize - 4;
      }
    }
  }

  // 无图标风格
  &.@{__stepsPrefixCls}-noicon {
    .@{__stepsPrefixCls}-head {
      margin-left: (@__stepsItemWidth - @__stepsMinIconSize) / 2;

      .@{__stepsPrefixCls}-icon {
        width: @__stepsMinIconSize;
        height: @__stepsMinIconSize;
        border-radius: @__stepsMinIconSize / 2;
        background-color: @brand-success;

        &:after {
          content: '';
        }
      }
    }
    .@{__stepsPrefixCls}-tail {
      padding: 0 @__stepsIconTailSpacing 0 @__stepsMinIconSize + @__stepsIconTailSpacing;
      top: 9px;
      margin-left: (@__stepsItemWidth - @__stepsMinIconSize) / 2;
    }
    .@{__stepsPrefixCls}-main {
      .@{__stepsPrefixCls}-title {
        margin-top: 10px;
      }
      .@{__stepsPrefixCls}-description-arrow {
        bottom: 60px;
        left: 43px;
      }
    }
    .@{__stepsPrefixCls}-status-wait {
      .@{__stepsPrefixCls}-icon {
        background-color: @normal-alpha-9;
        border-color: @normal-alpha-6;
        border-width: 2px;
      }
    }
    .@{__stepsPrefixCls}-status-error {
      .@{__stepsPrefixCls}-icon {
        background-color: @brand-danger;
        border-color: @brand-danger;
      }
    }

    &.@{__stepsPrefixCls}-vertical {
      .@{__stepsPrefixCls}-head {
        position: absolute;
        top: -5px;
        left: 8px;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #fff;
        margin-left: 0;

        .@{__stepsPrefixCls}-head-inner{
          height: 18px;
          padding: 4px 0;

          .@{__stepsPrefixCls}-icon{
            vertical-align: top;
          }
        }
      }
      .@{__stepsPrefixCls}-main {
        .@{__stepsPrefixCls}-title {
          margin-top: -8px;
        }
      }
      .@{__stepsPrefixCls}-tail {
        padding: 5px 0 0 1px;
        margin-left: 0;
      }
    }
  }
}