/**
 * Steps Component Style for uxcore
 * @author vincent.bian
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__step-prefix-cls: kuma-step;
@__step-normal-icon-size: 24px;
@__step-min-icon-size: 12px;

.@{__step-prefix-cls} {
    margin-left: 30px;
    .@{__step-prefix-cls}-item {
        position: relative;
        display: inline-block;
        min-height: 70px;
        margin-top: 74px;
        vertical-align: top;
    }
    .@{__step-prefix-cls}-item-last {
        .@{__step-prefix-cls}-title {
            padding-right: 0;
        }
    }
    .@{__step-prefix-cls}-tail {
        position: absolute;
        left: 0;
        top: @__step-normal-icon-size / 2 + 7;
        padding: 0 10px 0 @__step-normal-icon-size + 10;
        width: 100%;
        > i {
            display: block;
            width: 100%;
            height: 2px;
            background-color: @basic-700;
        }
    }
    .@{__step-prefix-cls}-head {
        position: absolute;
        left: 0;
        top: 8px;
        .@{__step-prefix-cls}-icon {
            display: inline-block;
            width: @__step-normal-icon-size;
            height: @__step-normal-icon-size;
            border-radius: @__step-normal-icon-size / 2;
            border: 1px solid @brand-success;
            text-align: center;
            line-height: @__step-normal-icon-size - 2;
            font-size: @__step-min-icon-size;
            vertical-align: middle;
        }
    }
    .@{__step-prefix-cls}-main {
        color: @text-secondary-color;
        .@{__step-prefix-cls}-title {
            white-space: nowrap;
            color: @text-thirdary-color;
        }
        .@{__step-prefix-cls}-description {
            color: @text-thirdary-color;
        }
    }
    // 默认样式
    &.@{__step-prefix-cls}-type-default {
        .@{__step-prefix-cls}-item {
            &.@{__step-prefix-cls}-no-desc {
                margin-top: 0;
            }
        }
        .@{__step-prefix-cls}-main {
            position: absolute;
            .@{__step-prefix-cls}-title {
                position: relative;
                left: 12px;
                display: inline-block;
                margin-left: -50%;
                margin-top: 40px;
                text-align: center;
            }
            .@{__step-prefix-cls}-description {
                position: absolute;
                left: -1em;
                bottom: 60px;
                padding: 5px 15px;
                width: 146px;
                height: 60px;
                background-color: @basic-100;
                border: 1px solid @gray-lighter;
                line-height: 2;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                display: -webkit-box;
            }
        }
    }
    // title在顶部的
    &.@{__step-prefix-cls}-type-title-on-top {
        .@{__step-prefix-cls}-item {
            margin-top: 28px;
        }
        .@{__step-prefix-cls}-main {
            position: absolute;
            .@{__step-prefix-cls}-title {
                position: relative;
                left: 12px;
                top: -18px;
                display: inline-block;
                margin-left: -50%;
                text-align: center;
            }
            .@{__step-prefix-cls}-description {
                position: absolute;
                left: 12px;
                display: inline-block;
                margin-left: -50px;
                margin-top: 40px;
                width: 100px;
                text-align: center;
            }
        }
    }
    // 包含大量描述的
    &.@{__step-prefix-cls}-type-long-desc {
        .@{__step-prefix-cls}-item {
            margin-top: 8px;
        }
        .@{__step-prefix-cls}-main {
            padding: 10px @__step-normal-icon-size 0;
        }
        .@{__step-prefix-cls}-title {
            position: relative;
            padding: 0 8px;
            display: inline-block;
            background-color: #fff;
        }
        .@{__step-prefix-cls}-description {
            padding: 8px;
            min-width: 180px;
        }
    }
    .@{__step-prefix-cls}-status-process {
        &.@{__step-prefix-cls}-item-last {
            .@{__step-prefix-cls}-icon {
                &:after {
                    font-family: 'kuma'!important;
                    content: '\e611';
                }
            }
        }
    }
    .@{__step-prefix-cls}-status-finish {
        &.@{__step-prefix-cls}-item {
            .@{__step-prefix-cls}-tail {
                i {
                    background-color: @brand-success;
                }
            }
        }
    }
    .@{__step-prefix-cls}-status-finish, .@{__step-prefix-cls}-status-process {
        .@{__step-prefix-cls}-icon {
            background-color: @brand-success;
            color: #fff;
        }
    }
    .@{__step-prefix-cls}-status-wait {
        .@{__step-prefix-cls}-icon {
            background-color: @basic-100;
            border-color: @gray-lighter;
            color: @text-thirdary-color;
        }
    }
    .@{__step-prefix-cls}-status-process {
        .@{__step-prefix-cls}-title {
            color: @text-primary-color;
        }
    }

    &.@{__step-prefix-cls}-vertical {
        .@{__step-prefix-cls}-head {
            top: 0;
        }
        .@{__step-prefix-cls}-item {
            display: block;
            margin-top: 0;
            min-height: 110px;
            &.@{__step-prefix-cls}-status-process {
                .@{__step-prefix-cls}-description {
                    color: @text-secondary-color;
                }
            }
        }
        .@{__step-prefix-cls}-tail {
            left: @__step-normal-icon-size / 2 - 1;
            top: 0;
            padding: @__step-normal-icon-size + 8 0 9px 0;
            width: 0;
            height: 100%;
            i {
                width: 2px;
                height: 100%;
                background-color: @basic-700;
            }
        }
        .@{__step-prefix-cls}-main {
            padding: 2px 0 0 30px;
            .@{__step-prefix-cls}-title {
                margin-left: 0;
            }
            .@{__step-prefix-cls}-description {
                margin-top: 4px;
                text-indent: 0;
            }
        }
    }

    .@{__step-prefix-cls}-small {
        margin-left: 20px;
        .@{__step-prefix-cls}-head {
            .@{__step-prefix-cls}-icon {
                font-size: 12px;
            }
        }
        .@{__step-prefix-cls}-tail {
            top: @__step-min-icon-size / 2 + 7;
            padding: 0 6px 0 @__step-min-icon-size + 4;
        }
        &.@{__step-prefix-cls}-vertical {
            .@{__step-prefix-cls}-tail {
                left: @__step-min-icon-size / 2 - 1;
                top: 0;
                padding: @__step-min-icon-size + 2 0 2px 0;
            }
        }
        .@{__step-prefix-cls}-head {
            .@{__step-prefix-cls}-icon {
                width: @__step-min-icon-size;
                height: @__step-min-icon-size;
                border-radius: @__step-min-icon-size / 2;
                line-height: @__step-min-icon-size - 2;
            }
        }
    }

    &.@{__step-prefix-cls}-noicon {
        .@{__step-prefix-cls}-head {
            top: 9px;
            left: 6px;
            .@{__step-prefix-cls}-icon {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                &:after {
                    content: '';
                }
            }
        }
        .@{__step-prefix-cls}-main {
            .@{__step-prefix-cls}-title {
                margin-top: 32px;
            }
            .@{__step-prefix-cls}-description {
                bottom: 46px;
            }
        }
        .@{__step-prefix-cls}-tail {
            padding: 0 0 0 22px;
        }
        .@{__step-prefix-cls}-status-wait {
            .@{__step-prefix-cls}-icon {
                background-color: @gray-lighter;
            }
        }
        
        &.@{__step-prefix-cls}-vertical {
            .@{__step-prefix-cls}-head {
                top: 5px;
                left: 8px;
            }
            .@{__step-prefix-cls}-tail {
                padding: 27px 0 0 1px;
            }
        }
    }
}
